#{$projet}_slideshow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $space-l;

    &--wrapper {
        height: 100vh;
        background: url($path-images + "bg_vague.svg") no-repeat;
        background-position-y: bottom;
        transition: all ease-out 1s;
    }

    &--step1 {
        background-position-x: 0%;
    }
    
    &--step2 {
        background-position-x: 50%;
    }
    
    &--step3 {
        background-position-x: 100%;
    }

    &_header {
        display: flex;
        justify-content: space-between;
    }

    &_content, &_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 2rem);
        transform: translate(-50%, -50%);

        #{$projet}_sub-title {
            position: absolute;
            top: 100%;
        }
    }

    &_footer {
        margin-bottom: $space-big-s;

        #{$projet}_btn--secondary {
            margin-top: $space-l;
        }
    }
}
