#{$projet}_slideshow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $space-l;

    &--wrapper {
        position: relative;
        height: 100vh;
        background: url($path-images + "bg_vague.svg") no-repeat;
        background-position-y: bottom;
        transition: all ease-out 1s;
    }

    &--step1 {
        background-position-x: 0%;
    }
    
    &--step2 {
        background-position-x: 50%;
    }
    
    &--step3 {
        background-position-x: 100%;
    }

    &_header {
        display: flex;
        justify-content: space-between;
    }

    &_content, &_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_content {
        position: absolute;
        top: 40%;
        left: 50%;
        width: calc(100% - 2rem);
        transform: translate(-50%, -50%);

        #{$projet}_sub-title {
            position: absolute;
            top: 100%;
        }
    }

    &_footer {
        margin-bottom: $space-big-s;

        #{$projet}_btn--secondary {
            margin-top: $space-l;
        }
    }

    #{$projet}_link {
        align-self: flex-start;
    }
}

#{$projet}_signup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1.875rem;
    background: url($path-images + "vague_signup.svg") no-repeat bottom left;
    background-size: cover;
    transition: all ease-out 1s;

    &--step1 {
        background-position-x: 0%;
    }

    &--step2 {
        background-position-x: 40%;
    }

    &_header {
        position: absolute;
        top: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #{$projet}_logo--mini {
        margin-bottom: 1.625rem;
    }

    #{$projet}_input--text {

        &-sub-label {
            display: block;
        }

        &-wrapper {
            width: 100%;
        }
    }
    
}