#{$projet}_home {
    position: relative;
    height: 100vh;

    & > div {
        padding: 0 30px;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 20px 0;
    }

    &_content {
        margin-top: 2rem;

        #{$projet}_title, #{$projet}_text {
            text-align: left;
            margin: 0;
            padding: 0 20px;

        }

        #{$projet}_title {
            margin-bottom: 10px;
        }

        #{$projet}_text {
            margin-bottom: 2.125rem;
        }
        
    }

    @keyframes growup {
        0% { opacity: 0; z-index: 1; }
        5% { opacity: 1; }
        100% { 
            width: 100vw;
            height: 100vh;
            left: 0;
            bottom: 0;
            border-radius: 0;
            opacity: 1;
            z-index: 1;
        }
      }

    &_bg-open {
        background: url($path-images + "open_1.png") no-repeat;
        padding: 0;
        height: 424px;
        width: 292px;
        position: absolute;
        left: 39px;
        bottom: 33px;
        border-radius: 25px;
        background-size: 100%;
        background-position-y: 20%;
        opacity: 0;
        z-index: -1;

        &-animate {
            animation-name: growup;
            animation-duration: 1s; /* or: Xms */
            animation-iteration-count: 1;
            animation-fill-mode: forwards; /* or: backwards, both, none */
            animation-timing-function: ease;
        }
    }
}