@font-face {
    font-family: 'Sanctuary';
    src: url($path-fonts + 'SanctuaryLC-Regular.eot');
    src: url($path-fonts + 'SanctuaryLC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url($path-fonts + 'Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path-fonts + 'Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path-fonts + 'Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

$font-xs: .75rem;
$font-s: .875rem;
$font-m: 1.125rem;
$font-l: 1rem;
$font-xl: 1.5rem;