#{$projet}_title {
    color: $color-primary;
    font-size: $font-xl;
    text-align: center;
    margin: $space-l 0;
}

#{$projet}_sub-title {
    color: $color-primary;
    font-size: $font-m;
    text-align: center;
    margin: 0;
}