#{$projet}_title {
    color: $color-primary;
    font-size: 1.6875rem;
    text-align: center;
    margin: $space-l 0;
    font-family: 'Sanctuary', Arial, Helvetica, sans-serif;

    &--strong {
        font-size: 5.0625rem;
    }

    &--secondary {
        color: $color-secondary;
    }

    &--full {
        display: block;
        margin: 0;
    }
}

#{$projet}_sub-title {
    color: $color-primary;
    font-size: $font-m;
    text-align: center;
    margin: 0;
}

#{$projet}_text {
    &--space {
        line-height: 1.35;
    }
}